<!-- <div class="container">
    <div class=" flex-item ">
      <mat-form-field appearance="fill">
        <mat-label>message</mat-label>
        <input type="text" matInput value="بهترین هتل هارو انتخاب کن عزیز..." #message>
      </mat-form-field>
    </div>
    <div class=" mt-4 flex-item">
      <mat-form-field appearance="fill">
        <mat-label>Action</mat-label>
        <input type="text" matInput value="esafar" #action>
      </mat-form-field>


    </div>
    <div class="flex-items">
      <button mat-stroked-button (click)="openSnackBar(message.value, action.value)">click</button>

    </div>

  </div>

 -->


 <div class="row align-items-center">
   <div class="col-sm-4">
    <mat-form-field appearance="fill">
      <mat-label>Action</mat-label>
      <input type="text" matInput value="بهترین هتل هارو انتخاب کن عزیز..." #message>
    </mat-form-field>
   </div>
   <div class="col-sm-4">
    <mat-form-field appearance="fill">
      <mat-label>Action</mat-label>
      <input type="text" matInput value="esafar" #action>
    </mat-form-field>
   </div>
   <div class="col-sm-4">
    <button mat-stroked-button (click)="openSnackBar(message.value, action.value)">click</button>

   </div>
 </div>
